* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma, Arial;
    color: #ffffff
}

nav {
    box-shadow: rgb(200 205 205 / 20%) 0px -2px 34px;
}

.slider-container {
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    position: relative;
}

.slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container img.active {
    opacity: 1;
}

.slider-container .slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #212529;
    color: #FFF;
    padding: 5px 5px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slider-controls {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 24%;
}

.slider-controls .prev,
.slider-controls .next {
    background-color: #212529;
    color: #FFF;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    border-radius: 9px;
    padding: 4px;
    user-select: none;
    width: 16%;
    align-items: center;
    appearance: none;
    border: 0;
    font-family: "JetBrains Mono", monospace;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
}

.slider-controls .prev {
    float: left;
}

.slider-controls .next {
    float: right;
}

.slider-controls .prev:hover,
.slider-controls .next:hover,
.project-btn {
    transform: translateY(-2px);
}

.slider-controls .prev:active,
.slider-controls .next:active {
    transform: translateY(2px);
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled {
    background-color: #5c5d5e!important;
    cursor: no-drop;
}

.slider-controls .indicators {
    width: 60%;
    float: left;
}

.slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #F6F6F6;
    color: #212529;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 5px;
    line-height: 28px;
    cursor: pointer;
    transition: ease-in-out .8s
}

.slider-controls .indicators ul li.active {
    background-color: #212529;
    color: #FFF;
    transform: scale(1.4);
}

.social-icon {
    cursor: pointer;
    transition: ease-in-out .3s
}

.soclicon {
    font-size: 3rem;
    transition: 0.6s;
}

.social-icon:hover .soclicon {
    transform: translateY(-7px);
    -webkit-text-fill-color: #E1473D;
}

@media only screen and (max-width: 600px) {
    .slider-controls {
        width: 16rem;
        left: 28%;
    }
    .slider-controls .prev,
    .slider-controls .next {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .slider-controls {
        width: 16rem;
        left: 28%;
    }
    .slider-controls .prev,
    .slider-controls .next {
        display: none;
    }
    .quate {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .slider-controls {
        width: 16rem;
        left: 28%;
    }
    .quate {
        display: none;
    }
    .slider-controls .prev,
    .slider-controls .next {
        display: none;
    }
    .h-head {
        margin: 2rem 0rem;
        padding: 0px 2rem;
        text-align: center;
    }
    .h-head .hero-heading {
        font-size: 45px;
    }
    .project-heading.project-heading {
        font-size: 3rem;
    }
    .hero-heading.typewriter {
        animation: none;
        font-size: 40px;
        border-right: none;
    }
    .profile-img-container {
        display: none
    }
    .project-content {
        max-height: 75%
    }
    .project-content .project-info {
        margin: 0;
        font-size: 16px;
    }
}


/* hero section */

.hero-heading {
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    font-weight: 300;
}

.home-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    opacity: .9;
}

.profile-img-container {
    position: relative;
}

.D-cv-btn {
    position: absolute;
    right: 28%;
    top: 90%;
    background: none!important;
    border: 1px solid #ffffff!important;
    color: #ffffff;
    opacity: 0;
}

.profile-img-container:hover .home-img {
    filter: blur(20px);
}

.profile-img-container:hover .D-cv-btn {
    opacity: 1;
    color: #0e0e0e;
}

.h-head {
    z-index: 44444;
    /* padding-left: 10rem; */
}


/* SKILLS */

.skill-head {
    font-size: 70px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
}

.progress {
    position: relative;
    width: 500px;
    height: 30px;
    background-color: white;
    margin: 10px 0px;
    max-width: 100%;
}

.progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #E1473D!important;
    transition: width 0.6s linear;
}


/* end SKILLS */


/* to do list  */

.todo-container {
    margin: 30px auto 0;
    width: 750px;
}

.todo-container .add-task {
    padding: 15px;
    background-color: #36373a;
    position: relative;
    border-radius: 10px;
}

.todo-container .add-task input {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: rgba(255, 255, 255, .3);
    width: calc(100% - 15px);
    color: #FFF;
    font-size: 20px;
    border-radius: 10px;
}

.todo-container .add-task .plus {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #FFF;
    right: 11px;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    color: #36373a;
    cursor: pointer;
    font-size: 38px;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    transition: transform .3s;
}

.todo-container .add-task .plus:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.todo-container .add-task input:focus {
    outline: none;
}

.todo-container .tasks-content {
    padding: 15px
}

.todo-container .tasks-content .no-tasks-message {
    color: rgb(248, 74, 74);
    font-size: 15px;
}

.todo-container .tasks-content>span {
    display: block;
    background-color: rgb(112, 112, 112);
    padding: 10px;
    border-radius: 10px;
}

.todo-container .tasks-content>span:not(:last-child) {
    margin-bottom: 10px;
}

.todo-container .tasks-content .task-box .delete {
    float: right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.todo-container .tasks-content .task-box.finished {
    text-decoration: line-through;
    color: #242424;
    background-color: #3697c3;
    font-weight: bold;
}

.task-stats {
    overflow: hidden;
    margin: 10px auto;
    width: 600px;
    font-size: 15px;
}

.task-stats .tasks-count {
    width: 50%;
    float: left;
    padding: 10px;
}

.task-stats .tasks-completed {
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
}

.task-stats .tasks-count span,
.task-stats .tasks-completed span {
    color: #FFF;
    padding: 1px 5px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: bold;
}

.task-stats .tasks-count span {
    background-color: #E91E63;
}

.task-stats .tasks-completed span {
    background-color: #3697c3;
}

.deleteAll,
.completeAll {
    background-color: #E91E63;
    cursor: pointer;
    float: right;
    padding: 4px 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 9px;
}

.completeAll {
    background-color: #3697c3;
    float: left;
}

.All-box {
    display: block;
    padding: 9px 18px 20px 18px;
}

.logo {
    float: right;
    width: 12%;
}

.quate {
    margin: 4rem 0rem;
}

.quate-parag {
    font-family: 'Dancing Script', cursive;
    padding: 0rem 6rem;
    font-size: 2rem;
}

.quate .quate-auth {
    font-family: 'Dancing Script', cursive;
}


/* project-section */

.project-section {
    width: 100%;
    min-height: 100vh;
    padding: 0px 10px;
    position: relative;
    top: 0;
    transition: 1s;
    opacity: 1;
}

.project-heading {
    font-size: 70px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}

.project-container {
    grid-template-columns: repeat(1, 1fr);
}

.project-card {
    height: 400px;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content {
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.project-title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    color: #212529;
}

.project-info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #212529;
}

.project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn,
.form-submit-btn {
    background-color: #212529;
    color: #FFF;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    border-radius: 9px;
    user-select: none;
    align-items: center;
    appearance: none;
    font-family: "JetBrains Mono", monospace;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
}

.project-btn:hover {
    /* transform: scale(1.1); */
    transform: translate(2px);
}

.project-btn.live {
    background: none;
    border: 2px solid #ffffff;
}

.project-btn.live a {
    color: #000000;
}

.project-card:hover .project-img {
    filter: blur(20px);
}

.project-card:hover .project-content {
    opacity: 1;
}

.Resume {
    text-decoration: none;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.Resume:hover {
    color: #ffffff;
}

.contact-section {
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-gap: 50px;
    background-color: #DDDDDD;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    text-transform: capitalize;
    color: rgb(2, 2, 2);
    padding: 5px 10px;
}

::placeholder {
    color: #fff;
}

#msg {
    height: 215px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn {
    background: #E1473D;
    color: #fff;
    text-transform: capitalize;
    display: block;
    margin: auto;
}

.map {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.typewriter {
    border-right: 2px solid #333;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    animation: control-width 3s steps(14) 2s both, blink 0.5s infinite;
}

@keyframes control-width {
    from {
        width: 0;
    }
    to {
        width: 550px;
    }
}

@keyframes blink {
    from {
        border-right-color: #333;
    }
    to {
        border-right-color: transparent;
    }
}

.switcher {
    display: flex;
    list-style: none;
    justify-content: center;
    cursor: pointer;
}

.switcher li {
    background-color: #333;
    margin: 0 5px;
    padding: 6px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.product {
    width: 500px;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    width: 33%;
    max-width: 50%;
    display: none
}

.product .num {
    background-color: #E1473D;
    color: #ffffff;
    height: 4rem;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s;
}

.product h3 {
    margin: 15px 0;
    font-size: 26px;
    transition: 0.6s;
}

.product p {
    margin-top: 2rem;
    line-height: 1.6;
    font-size: 18px;
    transition: 0.6s;
}

.product:hover .num {
    box-shadow: 0 0 0 600px #E1473D;
}

.product:hover h3,
.product:hover p {
    color: rgb(255, 255, 255);
}

.activdiv {
    background-color: #ffffff !important;
    color: #000000;
}

.project-card a {
    color: rgb(255, 255, 255);
}

.up {
    position: fixed;
    bottom: 10px;
    right: -50px;
    background-color: #f44336;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.5s;
}

.up i {
    color: white;
}

.show {
    right: 20px;
}