* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma, Arial;
    color: #ffffff
}

.slider-container {
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    position: relative;
}

.slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container img.active {
    opacity: 1;
}

.slider-container .slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #212529;
    color: #FFF;
    padding: 5px 5px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slider-controls {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 24%;
}

.slider-controls .prev,
.slider-controls .next {
    background-color: #212529;
    color: #FFF;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    border-radius: 9px;
    padding: 4px;
    user-select: none;
    width: 16%;
    align-items: center;
    appearance: none;
    border: 0;
    font-family: "JetBrains Mono", monospace;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
}

.slider-controls .prev {
    float: left;
}

.slider-controls .next {
    float: right;
}

.slider-controls .prev:hover,
.slider-controls .next:hover {
    transform: translateY(-2px);
}

.slider-controls .prev:active,
.slider-controls .next:active {
    transform: translateY(2px);
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled {
    background-color: #5c5d5e!important;
    cursor: no-drop;
}

.slider-controls .indicators {
    width: 60%;
    float: left;
}

.slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #F6F6F6;
    color: #212529;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 5px;
    line-height: 28px;
    cursor: pointer;
    transition: ease-in-out .8s
}

.slider-controls .indicators ul li.active {
    background-color: #212529;
    color: #FFF;
    transform: scale(1.4);
}

.social-icon {
    cursor: pointer;
    transition: ease-in-out .3s
}

.soclicon {
    font-size: 4rem;
}

.social-icon:hover {
    transform: translateY(-7px);
}


/* hero section */

.hero-heading {
    color: #fff;
    font-size: 90px;
    text-transform: capitalize;
    font-weight: 300;
}

.home-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    opacity: .6;
}

.h-head {
    z-index: 44444;
    padding-left: 10rem;
}